 @import "https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400";
body {
    background-color: #3498DB;
    color: rgba(255, 255, 255, 0.65);
    background-image: url("images/overlay.png"), -moz-linear-gradient(45deg, #E74C3C 15%, #3498DB 85%);
    background-image: url("images/overlay.png"), -webkit-linear-gradient(45deg, #E74C3C 15%, #3498DB 85%);
    background-image: url("images/overlay.png"), -ms-linear-gradient(45deg, #E74C3C 15%, #3498DB 85%);
    background-image: url("images/overlay.png"), linear-gradient(45deg, #E74C3C 15%, #3498DB 85%);
}

body,
input,
select,
textarea {
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-weight: 200;
    line-height: 1.65;
}
#conversation-list{
    background: #eee;
    overflow-y:scroll;
    border-bottom-left-radius: 2em;
    border-top-left-radius: 2em;
    color:#222;
}
#message-list{
    background: white;
    border-bottom-right-radius: 2em;
    border-top-right-radius: 2em;
    overflow-y:scroll;
    height:90%;
    color:#444;
    padding-top:10px;
    padding-right:30px;
}
#app{
    padding-left:30px;
    padding-right:30px;
    height:90%;
    padding-top:10px;
    position: relative;
}