<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tech.mattico.melay">

    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.RECEIVE_MMS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.provider.Telephony.SMS_RECEIVED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:name="tech.mattico.melay.MelayApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppThemeLight">
        <activity
            android:name="tech.mattico.melay.view.main.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="tech.mattico.melay.view.compose.ComposeActivity"
            android:parentActivityName="tech.mattico.melay.view.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SENDTO" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="sms" />
                <data android:scheme="smsto" />
                <data android:scheme="mms" />
                <data android:scheme="mmsto" />
                <data android:scheme="sms_body" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        <activity android:name="tech.mattico.melay.view.settings.SettingsActivity" />
        <activity android:name="tech.mattico.melay.view.setup.SetupActivity" />
        <receiver android:name="tech.mattico.melay.receiver.DefaultSmsChangedReceiver">
            <intent-filter>
                <action android:name="android.provider.action.DEFAULT_SMS_PACKAGE_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="tech.mattico.melay.receiver.SmsReceiver"
            android:permission="android.permission.BROADCAST_SMS">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_DELIVER" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="tech.mattico.melay.receiver.MmsReceiver"
            android:permission="android.permission.BROADCAST_WAP_PUSH">
            <intent-filter>
                <action android:name="android.provider.Telephony.WAP_PUSH_DELIVER" />
                <data android:mimeType="application/vnd.wap.mms-message" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="tech.mattico.melay.receiver.MmsSentReceiver"
            android:taskAffinity="com.klinker.android.messaging.MMS_SENT" />
        <receiver
            android:name="tech.mattico.melay.receiver.MmsUpdatedReceiver"
            android:taskAffinity="tech.mattico.melay.MMS_UPDATED" />
        <receiver
            android:name="tech.mattico.melay.receiver.MmsReceivedReceiver"
            android:taskAffinity="com.klinker.android.messaging.MMS_RECEIVED" />
        <receiver
            android:name="tech.mattico.melay.receiver.SmsSentReceiver"
            android:taskAffinity="tech.mattico.melay.SMS_SENT" />
        <receiver
            android:name="tech.mattico.melay.receiver.SmsDeliveredReceiver"
            android:taskAffinity="tech.mattico.melay.SMS_DELIVERED" />
        <receiver android:name="tech.mattico.melay.receiver.MarkSeenReceiver" />
        <receiver android:name="tech.mattico.melay.receiver.MarkReadReceiver" />
        <receiver android:name="tech.mattico.melay.receiver.RemoteMessagingReceiver" />
        <receiver android:name="tech.mattico.melay.receiver.NightModeReceiver" />
        <receiver android:name="tech.mattico.melay.receiver.SmsProviderChangedReceiver">
            <intent-filter>
                <action android:name="android.provider.action.EXTERNAL_PROVIDER_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver android:name="tech.mattico.melay.view.widget.WidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="tech.mattico.melay.intent.action.ACTION_NOTIFY_DATASET_CHANGED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>

        <service android:name="com.android.mms.transaction.TransactionService" />
        <service
            android:name="tech.mattico.melay.services.HeadlessSmsSendService"
            android:exported="true"
            android:permission="android.permission.SEND_RESPOND_VIA_MESSAGE">
            <intent-filter>
                <action android:name="android.intent.action.RESPOND_VIA_MESSAGE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="sms" />
                <data android:scheme="smsto" />
                <data android:scheme="mms" />
                <data android:scheme="mmsto" />
            </intent-filter>
        </service>
        <service
            android:name="tech.mattico.melay.view.widget.WidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>



</manifest>